:host {
  --ch-performance-scan-component-update-accent-color: #834ed8d0;
  // --ch-performance-scan-event-update-accent-color: #4ed860d0;

  display: contents;
  font-family: monospace;
  font-size: 9px;
}
